.autoComplete{
  position: absolute;        
  border: 1px solid #ccc;
  z-index: 9999;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden; 

}
.autoComplete .item, .autoComplete .head{
  padding: 5px;
  padding-right: 20px;
}
.autoComplete .item.active, .autoComplete .item:hover{
  background-color: #f1f6fa;
  cursor: pointer;
}